:root {
    --nav-icon-width: 75px;
    --nav-border-width: 10px;
    --main-color: #222831;
    --main-color-light: #393E46;
    --main-color-light-var: #454950;
    --main-color-light-var2: #484849;
    --main-color-white: #EEEEEE;
    --accent-color: #00ADB5;
    --accent-color-dark: #02979d;
    --shadow-color: rgba(0, 0, 0, 0.5);
    /*--main-color: #140941;*/
    /*--main-color-light: #261569;*/
    /*--main-color-light-var: #201259;*/
    /*--accent-color: #e00740;*/
    /*--accent-color-dark: #ff0041;*/
}

.advertisement {
    position: fixed;
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: #F44336;
    border: 1px solid #eb2c1e;
    bottom: 0px;
    width: 100%;
}

.close_button {
    float: right;
    margin: 0px 25px 0px 0px;
    user-select: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

@keyframes animationwow {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        display: none;
        opacity: 1;
    }
}

.appear {
    animation-name: animationwow;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes animationnotwow {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

.disappear {
    animation-name: animationnotwow;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

input {
    color: var(--main-color-white);
    padding: 0 5px;
    border-radius: 5px;
    margin: 5px 0 5px 0;
    outline: none;
    background-color: var(--main-color-light-var);
    border: 1px solid var(--main-color);
}

input:focus {
    outline: var(--accent-color) solid 2px;
}

.custom_button {
    width: 100%;
    height: auto;
    color: white;
    margin-top: 5px;
    border-radius: 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--main-color);
    background-color: var(--accent-color);
    outline: none;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow: hidden;
    cursor: pointer;
}

.custom_button:hover {
    background-color: var(--accent-color-dark);
}
